<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>About Us</title>
</head>
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                  <!-- left side div starts here -->
                  <div class="col-md-6 col-12 main_header_left align-items-center">
                    <figure >
                        <img src="images/profile6.jpg" alt="image not available" class="img-fluid">
                    </figure>
                  </div>
                  <!-- left side div ends here -->
            

                <!-- right side div -->
                  <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the Weather app</p>
                    <h1>I am a <span class="txt_clr">Web Developer</span> studying in Chandigarh University</h1>
                    <a href="/weather"><button>about me</button></a>
                  </div>
                  <!-- right side div ends here -->

                   
              </div>
          </div>
      </div>
    </div>
     
  
      <!-- footer -->
      {{>footer}}
</body>
</html>