<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}} 
   <title>Page Not Found</title>
</head>
<body>
    {{>navbar}}

        <div class="container-fluid main_header">
         <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                  <!-- left side div starts here -->
                  <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure >
                        <img src="images/error.jpg" alt="image not available" class="img-fluid">
                    </figure>
                    <p>OOPs! Page Not Found</p>
                  </div>
                  <!-- left side div ends here -->
              </div>
          </div>
         </div>
        </div>

    {{>footer}}
</body>
</html>